@page
@model Frontend.Pages.PrivacyModel
@{
    ViewData["Title"] = "Bryan";
}
<h1>@ViewData["Title"]</h1>

<p>En esta pagina veremos los datos</p>

<table class="table">
    @foreach (var Cliente in Model.Clientecitos)
    {
        <tr>
            <td>@Cliente.Id</td>
            <td>@Cliente.Nombre</td>
            <td>@Cliente.Edad</td>
        </tr>
    }
</table>
