@page
@model MyApp.Namespace.DeleteModel
@{
}
<form method="post">
    <input type="hidden" asp-for="Persona.Id">
    <input type="submit" value="Delete" class="btn-danger">
    <a asp-page="./List">Cancelar</a>
</form>

