@page
@model EditEmpresas
@{
}
<h1>Soy el EDIT DE EMPRESAS</h1>
<br>
<form method="post">
   <input type="hidden" asp-for="EmpresaEditar.ID" />

   <div class="col-sm-2">
      <label asp-for="EmpresaEditar.Nombre"></label>
   </div>

   <div class=row>
      <div class="col-sm-4">
         <input asp-for="EmpresaEditar.Nombre" class="form-control" />
      </div>
   </div>

   <div class="col-sm-2">
      <label asp-for="EmpresaEditar.Nit"></label>
   </div>

   <div class=row>
      <div class="col-sm-4">
         <input asp-for="EmpresaEditar.Nit" class="form-control" />
      </div>
   </div>

   <div class="col-sm-2">
      <label asp-for="EmpresaEditar.Ciudad"></label>
   </div>

   <div class=row>
      <div class="col-sm-4">
         <input asp-for="EmpresaEditar.Ciudad" class="form-control" />
      </div>
   </div>

   <div class="col-sm-2">
      <label asp-for="EmpresaEditar.Telefono"></label>
   </div>

   <div class=row>
      <div class="col-sm-4">
         <input asp-for="EmpresaEditar.Telefono" class="form-control" />
      </div>
   </div>

   <br>
   <br>
   <div class="form-group">
      <input type="hidden" asp-for="EmpresaEditar.ID">
      <input type="submit" value="Editar" class="btn btn-warning" >
      <a asp-page="./List"> Regresar</a>
   </div>
</form>